div {
  border: 5px double green;
  color: violet;
  width: 300px;

  height: 500px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: 20px auto;
  box-sizing: border-box;
  font-size: 24px;
}

.name {
  font-weight: bold;
  color: blue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}
